.jmenu {
    max-width: 320px;
}

.jmenu * {
    font-family: "Open Sans", sans-serif;
}

.jmenu:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
    display: none;
}

.jmenu:not(:empty) {
    min-width: 280px;
}

.jmenu:empty {
    display: none;
}

.jmenu-logo {
    display: none;
}

.jmenu nav {
    margin-bottom: 8px;
}

.jmenu nav > div {
    padding: 15px;
}

.jmenu nav h2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 15px;
    line-height: 24px;
    border-radius: 4px;
    margin: 0;
}

.jmenu nav h2.selected {
    background-color:  #f3f3f3;
}

.jmenu nav h2:hover {
    background-color:  #f3f3f3;
}

.jmenu nav h2[data-icon]:before {
    content: attr(data-icon);
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Material Symbols Outlined", "Material Icons", "FontAwesome";
    margin-right: 6px;
    font-weight: normal;
}

.jmenu nav h3 {
    font-size: 1em;
    font-weight: normal;
    color: #757575;
    padding: 0;
    margin: 0 0 10px 0;
}

.jmenu .folder {
    position: relative;
    cursor: pointer;
}

.jmenu .folder::after {
    position: absolute;
    top: calc(50% - 9px);
    right: 5px;
    width: 18px;
    height: 18px;
    content: '';
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Cpath d='M10 17l5-5-5-5v10z'/%3E%3Cpath d='M0 24V0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-position: center center;
    transition: transform .25s ease-in-out;
}

.jmenu .folder.selected::after {
    transform: rotate(90deg);
}

.jmenu .folder + * {
    display: none;
}

.jmenu .folder.selected + * {
    display: block;
}

.jmenu ul {
    white-space: nowrap;
    margin: 5px 0 0 20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.jmenu ul:before {
    background-color: #ddd;
    width: 1px;
    content: "";
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.jmenu nav > div > ul {
    margin: 5px 0 30px 5px;
}

.jmenu li {
    position: relative;
}

.jmenu li:last-child {
    margin-bottom: 10px;
}

.jmenu li.selected {
    background-color: var(--main-color-light);
}

.jmenu li.selected:before {
    background-color: var(--main-color);
    width: 1px;
    content: "";
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.jmenu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 4px 15px;
}

.jmenu a:hover {
    background-color: #f3f3f3;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .jmenu-icon {
        display: none;
    }
}

@media (max-width: 1024px) {
    .jmenu {
        height: 100%;
        position: fixed !important;
        top: 0;
        left: 0;
        background-color:#fff;
        z-index:9000;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 1px 1px 0 1px #ccc;
        padding: 20px;
        display: none;
    }

    .jmenu li {
        margin-bottom: 10px;
    }

    .jmenu-logo {
        display: block;
        max-height: 50px;
        margin-bottom: 20px;
        max-width: 120px;
    }

    .jmenu:after {
        display: block;
    }

    .jmenu-icon {
        display: block;
    }
}

.jmenu-icon {
    cursor: pointer;
}

.jmenu div::-webkit-scrollbar {
    width: 12px;
}

.jmenu div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.jmenu div:hover {
    scrollbar-color: initial;
}

.jmenu div:hover::-webkit-scrollbar-thumb {
    background-color: #AAA;
}
