
.indexing {
    border-left: 1px solid #eee;
    font-size: 0.75em;
    list-style: none;
    padding: 15px;
    position: sticky;
    top: 90px;
    min-width: 160px;
}

.indexing li {
    margin: 2px;
    padding: 0;
}

.indexing a {
    color: #000;
    border-left: 2px solid transparent;
    padding: 4px 10px;
    display: inline-block;
}

.indexing a.selected {
    border-left-color: var(--color-brand);
    background-color: var(--gray-50);
}

.indexing ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 15px;
}

.indexing:empty {
    display: none;
}

@media (max-width: 1200px) {
    .indexing {
        display: none;
    }
}
