.jlogin {
    width: 100%;
    box-sizing: border-box;
    margin:0 auto;
    vertical-align:middle;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:1em;
}

.jlogin-fullscreen {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#fff;
    z-index:9000;
}

.jlogin > form {
    max-width:480px;
    padding:20px;
    margin: 0 auto;
}

.jlogin > form > div {
    margin-bottom:10px;
}

.jlogin label {
    display:block;
}

.jlogin > form > div > input {
    width:100%;
    outline:none;
    padding:15px;
    margin:0px;
}

.jlogin input[type='checkbox'] {
    float:left;
}

.jlogin input[type='button'] {
    padding:10px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: #fff;
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.jlogin span
{
    margin:0 auto;
}
.jlogin img
{
    text-align:center;
    max-width:220px;
}

.jlogin .jlogin-logo
{
    text-align:center;
    padding:20px;
}

.jlogin .jlogin-logo:empty {
    display: none;
}

.jlogin .captcha
{
    width:100%;
    margin-top:4px;
    margin-bottom:4px;
    border:1px solid #ccc;
    display:block;
}

.jlogin input.facebookButton
{
    color: var(--button-color);
    border: 1px solid var(--button-color);
    background-color: #fff;
}

.jlogin input.googleButton
{
    border: 1px solid var(--button-color);
    background-color: #fff;
    color: var(--button-color);
}

.jlogin .rememberButton
{
    padding:10px;
    display:none;
}

.jlogin .requestButton, .jlogin .cancelButton, .jlogin .newProfileButton
{
    padding:20px;
    padding-bottom:0px;
    text-align:center;
    cursor:pointer;
}

.jlogin-captcha img {
    min-width:280px;
}

.jlogin-loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 2px;
    background-color: var(--button-color);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from { left: 0px; width: 25%; }
    25%  { width: 25%; }
    50%  { width: 50%; }
    75%  { left:  75%; }
    100% { left:  100%; }
    to { left: 100%; }
}