/** Loading */
.jloading {
    position:fixed;
    z-index:10001;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
}

.jloading::after {
    content:'';
    display:block;
    margin:0 auto;
    margin-top:50vh;
    width:40px;
    height:40px;
    border-style:solid;
    border-color:white;
    border-top-color:transparent;
    border-width:4px;
    border-radius:50%;
    -webkit-animation: jspin .8s linear infinite;
    animation: jspin .8s linear infinite;
}

.jloading.jspin {
    background-color:transparent;
}

.jloading.jspin::after {
    margin:0 auto;
    margin-top:80px;
    border-color:#aaa;
    border-top-color:transparent;
}

/** Animations **/
.jfade-in {
    animation: jfade-in 2s forwards;
}

.jfade-out {
    animation: jfade-out 1s forwards;
}

.jslide-left-in {
    position: relative;
    animation: jslide-left-in 0.4s forwards;
}

.jslide-left-out {
    position: relative;
    animation: jslide-left-out 0.4s forwards;
}

.jslide-right-in {
    position: relative;
    animation: jslide-right-in 0.4s forwards;
}

.jslide-right-out {
    position: relative;
    animation: jslide-right-out 0.4s forwards;
}

.jslide-top-in {
    position: relative;
    animation: jslide-top-in 0.4s forwards;
}

.jslide-top-out {
    position: relative;
    animation: jslide-top-out 0.2s forwards;
}

.jslide-bottom-in {
    position: relative;
    animation: jslide-bottom-in 0.4s forwards;
}

.jslide-bottom-out {
    position: relative;
    animation: jslide-bottom-out 0.1s forwards;
}

.jslide-left-in > div {
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

.jslide-left-out > div {
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

.jslide-right-in > div {
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

.jslide-right-out > div {
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

.jspin {
    animation: jspin 2s infinite linear;
}

/** Fadein and Fadeout **/
@keyframes jfade-in {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

@-webkit-keyframes jfade-in {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

@keyframes jfade-out {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

@-webkit-keyframes jfade-out {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

/** Keyframes Left to Right **/
@keyframes jslide-left-in {
    0% { left: -100%; }
    100% { left: 0%; }
}

@-webkit-keyframes jslide-left-in {
    0% { left: -100%; }
    100% { left: 0%; }
}
    
@keyframes jslide-left-out {
    0% { left: 0%; }
    100% { left: -100%; }
}

@-webkit-keyframes jslide-left-out {
    0% { left: 0%; }
    100% { left: -100%; }
}

/** Keyframes Right to Left **/
@keyframes jslide-right-in {
    0% { left: 100%; }
    100% { left: 0%; }
}

@-webkit-keyframes jslide-right-in
{
    0% { left: 100%; }
    100% { left: 0%; }
}
    
@keyframes jslide-right-out {
    0% { left: 0%; }
    100% { left: 100%; }
}

@-webkit-keyframes jslide-right-out {
    0% { left: 0%; }
    100% { left: 100%; }
}

/** Keyframes Top to Bottom **/
@keyframes jslide-top-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes jslide-top-in {
    0% { transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}
    
@keyframes jslide-top-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@-webkit-keyframes jslide-top-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-100%); }
}

/** Keyframes Bottom to Top **/
@keyframes jslide-bottom-in {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes jslide-bottom-in {
    0% { transform: translateY(100%); }
    100% { -webkit-transform: translateY(0%); }
}
    
@keyframes jslide-bottom-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

@-webkit-keyframes jslide-bottom-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes jspin {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(359deg);
    }
}

@keyframes jspin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}