:root {
    --jbutton-color: #298BA8; 
    --jactive-color: #007aff;
    --jsafe-area-top: env(safe-area-inset-top);
    --jsafe-area-bottom: env(safe-area-inset-bottom);
}

[data-visible="false"], .row[data-visible="false"] {
    display: none;
}


div[data-before]:before {
    content: attr(data-before);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jreadonly {
    pointer-events: none;
}

.jdragging {
    opacity:0.2;
    filter: alpha(opacity=20);
}

.jupload.input {
    position: relative;
    box-sizing: border-box;
    background-size: initial;
    height: 33px;
    min-height: initial;
    padding: 6px;
    padding-right: 30px;
}

.jupload.input:before {
    content: "save";
    font-size: 18px;
    font-family: "Material Icons", "Material Symbols Outlined", "FontAwesome";
    color: #000;
    position: absolute;
    right: 5px;
}

.jupload:empty:before {
    z-index: 0;
}

.jupload img {
    width: 100%;
} 

.jupload.input img {
    width: initial;
    max-width: 100%;
    height: 100%;
}

.jupload[data-multiple] {
    padding: 10px;
}

.jupload[data-multiple] img {
    height: 70px;
    width: 100px;
    object-fit: cover;
    margin-right: 5px;
    margin-bottom: 5px;
}

.jupload {
    position: relative;
    border: 1px dotted #eee;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 180px;
}

.jupload:not(.input):empty:before {
    content: "\e2c3";
    font-family: "Material Icons", "Material Symbols Outlined", "FontAwesome";
    font-size: 90px;
    color: #eee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.jupload-item {
    padding-right: 22px;
    border-radius: 1px;
    display: inline-block;
    position: relative;
}

.jphoto {
    position: relative;
    border: 1px dotted #eee;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jphoto:empty:before {
    content: "\e2c3";
    font-family: "Material Icons", "Material Symbols Outlined", "FontAwesome";
    font-size: 90px;
    color: #eee;
    width: 100%;
    height: 100%;
    text-align: center;
}

.jremove {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.round img {
    border-radius: 1000px;
}

.jtooltip {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;

    font-family: initial;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    padding: 8px;
    margin: 10px;

    display: block;
    animation: jfadeIn 0.5s;
    pointer-events: none;
}

.jtooltip:empty {
    display: none;
}

@keyframes jfadeIn {
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

.jpanel {
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
}

.jpanel:focus {
    outline: 2px solid black;
    outline-offset: -1px;
}

.jpanel-action {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border:1px solid black;
    box-sizing: border-box;
    pointer-events: auto;
    z-index: 1000;
}

.jpanel-action[data-position="n-resize"] {
    top: -4px;
    left: calc(50% - 4px);
}

.jpanel-action[data-position="ne-resize"] {
    top: -4px;
    left: calc(100% - 4px);
}

.jpanel-action[data-position="e-resize"] {
    top: calc(50% - 4px);
    left: calc(100% - 4px);
}

.jpanel-action[data-position="se-resize"] {
    top: calc(100% - 4px);
    left: calc(100% - 4px);
}

.jpanel-action[data-position="s-resize"] {
    top: calc(100% - 4px);
    left: calc(50% - 4px);
}

.jpanel-action[data-position="sw-resize"] {
    top: calc(100% - 4px);
    left: -4px;
}

.jpanel-action[data-position="w-resize"] {
    top: calc(50% - 4px);
    left: -4px;
}

.jpanel-action[data-position="nw-resize"] {
    top: -4px;
    left: -4px;
}

.jpanel-action[data-position="nw-resize"] {
    top: -4px;
    left: -4px;
}

.jpanel-action[data-action="rotate"] {
    top: -50px;
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border: 0;
    cursor: move;
    background-color: transparent;
}

.jpanel-action[data-action="rotate"]:before {
    content: 'refresh';
    font-family: 'Material Icons';
    font-size: 24px;
}

.jpanel-action[data-action="rotate"]:after {
    position: absolute;
    content: '';
    bottom: -22px;
    left: calc(50%);
    width: 1px;
    height: 28px;
    background-color: black;
}

.material-icons {
    font-family: "Material Icons", "Material Symbols Outlined", "FontAwesome";
    font-size: 24px;
    width: 24px;
    height: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
