/** Buttons **/

.jbutton {
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor:pointer;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

.jbutton.dark {
    background-color: #737373;
    border: 1px solid transparent;
    color: #fff;
}

.jbutton.blue {
    border:1px solid transparent;
    color:#fff;
    background-color:#1a73e8;
}

.jbutton[data-icon] {
    display: flex;
}

.jbutton[data-icon].center {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right:20px;
}

.jbutton[data-icon]::before {
    content: attr(data-icon);
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Material icons';
    color: #999;
    margin-right:2px;
    color: #fff;
}

.jbutton:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.jbutton[disabled] {
    opacity: 0.5;
    text-decoration: none;
}

.jbuttons-group {
    display: flex;
}

.jbuttons-group .jbutton {
    border-radius: 0px;
    margin: 0px;
}

.jbuttons-group .jbutton:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.jbuttons-group .jbutton:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*.button-plain {
    border:0px;
    background-color:transparent;
    cursor:pointer;
    outline: none;
}

.button-dark {
    background-color:#737373;
    color:#fff;
    border:1px solid transparent;
    border-radius:2px;
    cursor:pointer;
    min-width:120px;
    outline:none;
}

.button-dark:disabled {
    background-color:#d3d3d3;
    color:#a3a3a3;
}

.button-light {
    background-color:#fff;
    color:#737373;
    border:1px solid #737373;
    border-radius:2px;
    cursor:pointer;
    min-width:120px;
    outline:none;
}

.button-light:disabled {
    color:#a3a3a3;
}

.button-red {
    background-color:#733333;
    color:#fff;
    border:1px solid transparent;
    border-radius:2px;
    cursor:pointer;
    min-width:120px;
    outline:none;
}*/




/** Switch **/

.jswitch {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
}

.jswitch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.jswitch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.jswitch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.jswitch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.jswitch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.jswitch input { display: none; }

.jswitch input:checked + i { background-color: #4BD763; }

.jswitch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.jswitch input:checked + i::after { transform: translate3d(22px, 2px, 0); }