.jbutton {
    padding:4px;
    padding-left:10px;
    padding-right:20px;
    border:1px solid #ddd;
    display:inline-flex;
    border-radius:4px;
    cursor:pointer;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

.jbutton.blue {
    border:1px solid transparent;
    color:#fff;
    background-color:#1a73e8;
}

.jbutton::before {
    content: attr(data-icon);
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Material icons';
    color: #999;
    margin-right:2px;
}

.jbutton.blue::before {
    color: #fff;
}

.jbutton:hover {
    background-color: #eee;
}

.jbutton.blue:hover {
    background-color: #1a73e8;
    opacity: 0.8;
}