.jchat {
    position:absolute;
    top:0px;
    padding-top:50px;
    padding-bottom:50px;
    width:100vw;
    max-width:100vw;
    height: 100%;
    box-sizing:border-box;
    overflow-y:auto;
    overflow-x:hidden;
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
    display:flex;
    flex-wrap: wrap;
}

.jchat-container {
    flex: 1;
    align-self: flex-end;
}

.jchat .jchat-header {
    display:flex;
    align-items:center;
    padding:10px;
    padding-bottom:10px;
}

.jchat .jchat-icon {
    margin-right:5px;
}

.jchat .jchat-name {
    font-size:0.8em;
    flex:1;
}

.jchat .jchat-when {
    font-size:0.8em;

}

.jchat .jchat-user {
    width:20px;
    height:20px;
    border-radius:10px;
}

.jchat .jchat-body {
    padding:12px;
    padding-top:0px;
}

.jchat .jchat-message {
    margin:15px;
    margin-top:2px;
    margin-bottom:2px;
    border-radius:10px;
    font-size:0.8em;
    position: relative;
    margin-bottom:20px;
}

.jchat .jchat-message.jchat-right {
    color:#fff;
    background-image: linear-gradient(to bottom right, #72879e, #b1b8cc); /** #fa6b50, #da237c **/
    margin-left:50px;
}

.jchat .jchat-message.jchat-left {
    border:1px solid #eeeeee;
    background-image: linear-gradient(to bottom right, #f1f1f1, #eeeeee);
    margin-right:50px;
}

.jchat .jchat-line {
    margin-bottom:30px;
}

.jchat .jchat-text {
    min-width:50vw;
    word-break: break-all;
}

.jchat img {
    width:100%;
    border-radius:0px 0px 10px 10px;
}

.jchat .jchat-left::beforex
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #efefef;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 0px;
    bottom: -10px;
}

.jchat .jchat-right::afterx
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #b1b8cc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -10px;
}

.jchat-input {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index:9000;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .05);

    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-sizing: border-box;
    backface-visibility: hidden;
    box-sizing: border-box;
    transform: translate3d(0,0,0);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    flex-wrap:nowrap;

    background-color:#fff;
}

.jchat-input textarea {
    border:0px;
    padding:0px;
    padding-top:15px;
    outline: none;
    flex:1;
}

.jchat .jchat-status
{
    margin-left:5px;
    width:12px;
    height:12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
}

.jchat .received
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z'/%3E%3C/svg%3E");
}

.jchat .jchat-right .jchat-status
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='white'/%3E%3C/svg%3E");
}

.jchat .jchat-right .received
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z' fill='white'/%3E%3C/svg%3E");
}

.jchat .jchat-photo {
    width:24px;
    height:24px;
    line-height:24px;
    margin:10px;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z' fill='gray'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.jchat .jchat-submit {
    width:24px;
    height:24px;
    line-height:24px;
    margin:10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z' fill='gray'/%3E%3C/svg%3E");
}

.jchat .jchat-send {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='gray'/%3E%3C/svg%3E") !important;
}

.jchat .jchat-arrow {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3C/svg%3E");
    position: fixed;
    bottom: 65px;
    right: 15px;
    width: 32px;
    height: 32px;
    z-index: 1;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    background-position: center;
    background-color: #fff;

    box-shadow: 0 0 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 5px 0px rgba(0,0,0,0.15);
}

.jchat .jchat-action {
    animation: jchat-action 0.2s forwards;
    -webkit-animation: jchat-action 0.2s forwards;
}

@keyframes jchat-action {
    0% { transform: translateX(0%); }
    100% { transform: translateX(25%); }
}

@-webkit-keyframes jchat-action
{
    0% { transform: translateX(0%); }
    100% { -webkit-transform: translateX(25%); }
}