/**
 * Dialog v1.0.1
 * Author: paul.hodel@gmail.com
 * https://github.com/paulhodel/jtools
 */
 
.jdialog
{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height:100%;
    z-index:10000;

    background-color:rgba(0,0,0,0.5);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.jdialog .jdialog-container
{
    width:100%;
    max-width:280px;
    box-sizing: border-box;
    margin:0 auto;
    vertical-align:middle;
    background-color:#fff;
    border-radius:10px;

    opacity: 0;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.jdialog .jdialog-header
{
    padding:10px;
    text-align:center;
}

.jdialog .jdialog-header .jdialog-title
{
    font-size:1em;
    font-weight:bold;
    padding:8px;
}

.jdialog .jdialog-header .jdialog-message
{
    padding:4px;
}

.jdialog .jdialog-footer
{
    border-top:1px solid #ccc;
    display: flex;
    flex-wrap:row wrap;
    align-content: stretch;
    align-items:center;
    text-align:center;
}

.jdialog .jdialog-footer > div
{
    padding:4px;
    border-left:1px solid #ccc;
    text-align:center;
    width:100%;
}
.jdialog .jdialog-footer > div:first-child
{
    border-left:0px;
}

.jdialog .jdialog-footer input
{
    border:0px;
    margin:0px;
    background-color:transparent;
    color:var(--active-color);
    width:100%;
    outline:none;
}