@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px)
{
    .container {
        max-width: 732px;
    }
}

@media (min-width: 992px)
{
    .container {
        max-width: 956px;
    }
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1168px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1404px;
    }
}

@media only screen and (max-device-width: 800px)
{
    .form-group {
        min-width: 50vw !important;
    }
    .section {
        margin-right:0px !important;
    }
    .section-content {
        padding: 12px !important;
    }
}

@media (max-device-width: 800px) {
    .small-screen-only {
        display: block;
    }
    .big-screen-only {
        display: none;
    }
}

@media (min-device-width: 800px) {
    .small-screen-only {
        display: none;
    }
    .big-screen-only {
        display: block;
    }
}

body, div, td
{
    font-family:'Open Sans';
}

body
{
    margin:0px;
}

h1:empty
{
    display:none;
}

h2:empty
{
    display:none;
}

input, select, textarea, button, .input {
    border-radius: 1px;
    border:1px solid #ccc;
    padding:8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color:#fff;
    font-size:1em;
}

select {
    padding:7px;
}

input:disabled, select:disabled, textarea:disabled, button:disabled {
    background-color:#eee;
    color:#888;
}

blockquote {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

section.middle {
    max-width:540px;
}

.nowrap {
    flex-wrap:nowrap;
}

.center {
    text-align:center;
}

.justify {
    text-align:justify;
}

.separator {
    background-color:#eee;
    height:1px;
}

.clear {
    clear:both;
}

.top {
    padding-left:10px;
    padding-right:10px;
}

.top > .row > .column {
    margin-top:5px;
    margin-bottom:5px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-box {
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display:flex;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
}

.row.container {
    flex-wrap: nowrap;
}

.row.middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.column {
    box-sizing: border-box;
}

.column.top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.column.bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media only screen and (max-width : 320px) {
    .column {
        min-width: 100%;
    }
}

.start {
    justify-content:flex-start;
}

.header {
    width:100%;
    position:absolute;
    background-color:rgba(255, 255, 255, 0.2);
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
}

.space {
    height:4px;
}

.line .row {
    max-width:1280px;
    margin: 0 auto; 
}

.large {
    font-size:1.2em;
}

.extra-large {
    font-size:1.4em;
}

.small {
    font-size:0.8em;
}

.extra-small {
    font-size:0.7em;
}

.form-group {
    padding:4px;
}

.form-group label {
}

.form-group input[type='text'], .form-group input[type='number'], .form-group input[type='password'], .form-group select, .form-group textarea, .form-group .jdropdown, .form-group .jprogressbar {
    width:100%;
}

.f1
{
    flex:1;
}

.f2
{
    flex:2;
}

.f3
{
    flex:3;
}

.f4
{
    flex:4;
}

.f5
{
    flex:5;
}

.f6
{
    flex:6;
}

.f7
{
    flex:7;
}

.f8
{
    flex:8;
}

.f9
{
    flex:9;
}

.f10
{
    flex:10;
}

.w5
{
    width:5% !important;
}

.w10
{
    width:10% !important;
}

.w15
{
    width:15% !important;
}

.w20
{
    width:15% !important;
}

.w25
{
    width:25% !important;
}

.w30
{
    width:30% !important;
}

.w33
{
    width:33% !important;
}

.w40
{
    width:40% !important;
}

.w50
{
    width:50% !important;
}

.w60
{
    width:60% !important;
}

.w66
{
    width:66% !important;
}

.w70
{
    width:70% !important;
}

.w100
{
    width:100% !important;
}

.r20 .column
{
    width:20%;
}

.r25 .column
{
    width:25%;
}

.r33 .column
{
    width:33%;
}

.r66 .column
{
    width:66%;
}

.r50 .column
{
    width:50%;
}

.r100 .column
{
    width:100%;
}

.p0
{
    padding:0px;
}

.p2
{
    padding:2px;
}

.p4
{
    padding:4px;
}

.p6
{
    padding:6px;
}

.p8
{
    padding:8px;
}

.p10
{
    padding:10px;
}

.p15
{
    padding:15px;
}

.p20
{
    padding:20px;
}

.m0
{
    margin:0px;
}

.m2
{
    margin:2px;
}

.m4
{
    margin:4px;
}

.m6
{
    margin:6px;
}

.m8
{
    margin:8px;
}

.m10
{
    margin:10px;
}

.m15
{
    margin:15px;
}

.m20
{
    margin:20px;
}

.mr1 {
    margin-right:10px;
}

.mr2 {
    margin-right:20px;
}

.mr3 {
    margin-right:30px;
}

.ml1 {
    margin-left:10px;
}

.ml2 {
    margin-left:20px;
}

.ml3 {
    margin-left:30px;
}

.pl1 {
    padding-left:10px;
}

.pl2 {
    padding-left:20px;
}

.pl3 {
    padding-left:30px;
}

.pr1 {
    padding-right:10px;
}

.pr2 {
    padding-right:20px;
}

.pr3 {
    padding-right:30px;
}

.section {
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    margin-top:10px;
    margin-right:10px;
}

.section-divisor {
    margin-top:6px;
    margin-bottom:5px;
    border-bottom:1px solid #e1e1e1;
    text-transform:uppercase;
}

.section-divisor div {
    display:inline-block;
}

.section-divisor .section-number {
    padding:8px;
    width:40px;
    height:40px;
    text-align:center;
    font-weight:bold;
    font-size:23px;
    display:inline;
}

.section-container {
    padding:6px;
}

.section-header {
    font-size:2em;
    margin-bottom:20px;
}

.section-content {
    padding:30px;
}

.fullpath {
    display:flex;
    color: #999;
    padding:4px;
    padding-left:8px;
}

.fullpath > div {
    line-height:24px;
}
.fullpath > input {
    border-color: transparent;
    padding: 0px;
    margin: 0px;
    outline: none;
}

.fullpath > input.error {
    border-bottom: 1px solid red;
}

.title {
    font-size:1.8em;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.t1 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.t2 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.uppercase {
    text-transform:uppercase;
}

.subtitle {
    position:relative;
    top:-5px;
    margin-bottom:10px;
}

/* Admin */

.breadcrumb a {
    text-decoration:none;
    color:#000;
}

.left {
    float:left;
}

.right {
    float:right;
}

.material-icons {
    font-size:24px;
    width:24px;
    height:24px;
    line-height:24px;
}

.material-icons.selected {
    color:#777;
}

.material-icons.small {
    font-size:16px;
    width:16px;
    height:16px;
    line-height:16px;
}

.material-icons.large {
    font-size:36px;
    width:36px;
    height:36px;
    line-height:36px;
}

.material-icons.larger {
    font-size:48px;
    width:48px;
    height:48px;
    line-height:48px;
}

.favorite {
    font-size:24px;
    width:24px;
    height:24px;
}

.favorite.selected {
    color:red;
}

.alert {
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f44336;
    color: white;
    display:none;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.error {
    border:1px solid red;
}

.users {
    width:40px;
    height:40px;
    border-radius:20px;
}

.users-overlap {
    vertical-align:bottom;
    min-height:28px;
    padding-left:10px;
}

.users-overlap img {
    width:24px;
    height:24px;
    line-height:24px;
    border-radius:24px;
    border:2px solid #fff;
    vertical-align: middle;
    margin-left:-10px;
}

.users-overlap span {
    margin-left:3px;
    font-size:0.8em;
}

.users-micro {
    width:24px;
    height:24px;
    border-radius:12px;
}

.users-small {
    width:30px;
    height:30px;
    border-radius:15px;
}

.users-medium {
    width:45px;
    height:45px;
    border-radius:23px;
}

.users-large {
    width:60px;
    height:60px;
    border-radius:30px;
}

.users-extra-large {
    width:120px;
    height:120px;
    border-radius:60px;
}

.badge {
    position:absolute;
    background-color:red;
    color:#fff;
    width:16px;
    height:16px;
    line-height:16px;
    border-radius:16px;
    text-align:center;
    font-size:8px;
    margin:12px;
}

.badge:empty {
    display:none;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cursor {
    cursor:pointer;
}

.cursor.link:hover {
    text-decoration: underline;
}

.arrow-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z' fill='gray'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width:24px;
    height:24px;
    line-height:24px;
    cursor:pointer;
}

.arrow-left {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z' fill='gray'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width:24px;
    height:24px;
    line-height:24px;
    cursor:pointer;
}

[contenteditable=true] div:empty:not(:focus)::before{
    content:attr(placeholder);
    color:#ccc;
}

.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

.hover:hover {
    background-color:#efefef;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-input-placeholder {
   color: #000000;
}

:-moz-placeholder {
   color: #000000;  
}

::-moz-placeholder {
   color: #000000;  
}

:-ms-input-placeholder {  
   color: #000000;  
}
