/**
 * (c) Image slider
 * https://github.com/paulhodel/jtools
 *
 * @author: Paul Hodel <paul.hodel@gmail.com>
 * @description: Image Slider
 */

.jslider {
    margin-top:10px;
    margin-bottom:10px;
}

.jslider-container img {
    width:60px;
    margin-right:5px;
    margin-bottom:5px;
}

.jslider-attach {
    cursor:pointer;
}

.jslider-left::before {
    content:'arrow_back_ios';
    color:#fff;
    position:absolute;
    left:15px;
    font-family:'Material Icons';
    font-size:30px;
    text-shadow: 0px 0px 0px #000;
}

.jslider-right::after {
    content:'arrow_forward_ios';
    color:#fff;
    position:absolute;
    right:10px;
    font-family:'Material Icons';
    font-size:30px;
    text-shadow: 0px 0px 0px #000;
    text-align:center;
}

.jslider-close {
    width:24px;
    height:24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    position:fixed;
    top:15px;
    right:15px;
    display:none;
    cursor:pointer;
    z-index:3000;
}

.jslider-preview {
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    min-height:100%;
    z-index:2000;
    margin:0px;
    box-sizing:border-box;

    background-color:rgba(0,0,0,0.9);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.jslider-preview img {
    min-width:70%;
    max-width:100%;
    height:auto;
    box-sizing: border-box;
    margin:0 auto;
    vertical-align:middle;
    display:none;
}
