.jtabs {
    max-width: 100vw;
    position: relative;
}
.jtabs > .jtabs-headers {
    display: flex;
    overflow-x: auto;
}

.jtabs > .jtabs-headers > div {
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #f1f1f1;
    cursor: pointer;
    white-space: nowrap;
}

.jtabs > .jtabs-headers > div.jtabs-selected {
    background-color: #e8e8e8;
    color: #000;
}

.jtabs > .jtabs-content > div {
    display: none;
}

.jtabs > .jtabs-content > div.jtabs-selected {
    display: block;
}

.jtabs > .jtabs-border {
    position: absolute;
    height: 2px;
    background-color: #888;
    transform-origin: left;
    transition: all .2s cubic-bezier(0.4,0,0.2,1);
    transition-property: color,left,transform;
}

.jtabs .jtabs-add {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z' fill='%23bbbbbb'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 3px;
    margin-left: 10px;
}