/** Toolbar **/

.japp .jtoolbar
{
    position:fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
    background: #f7f7f8;
    z-index: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    padding:4px;
}

.japp .jtoolbar > div
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align:middle;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    cursor:pointer;
}

.japp .jtoolbar > div > div
{
    text-align:center;
    flex:1;
    margin:auto;
}

.japp .jtoolbar a
{
    text-decoration:none;
    display:inline-block;
}

.japp .jtoolbar i
{
    color:#929292;
}

.japp .jtoolbar span
{
    font-size:0.7em;
    display:block;
    color:#929292;
}

.japp .jtoolbar .selected a,
.japp .jtoolbar .selected i,
.japp .jtoolbar .selected span
{
    color:var(--active-color);
}